@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    359.42deg,
    #ffd464 3.64%,
    rgba(255, 230, 7, 0.61) 53.92%
  );
}

h1,
p {
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
}

#buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 163px;
  height: 200px;
}
/* Join Screen */
form {
  display: flex;
  flex-direction: column;
}

form input[type='number'] {
  margin-bottom: 50px;
  width: 180px;
  height: 70px;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
/* Host Screen */
#hostScreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#roomNumber {
  margin: 0;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #272727;
}

.teams {
  background: rgba(196, 196, 196, 0.3);
  border-radius: 5px;
  width: 320px;
}

.teamTitle {
  margin: 0.5px 0 3px 0;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #696969;
}

#judge {
  height: 88px;
}
#team1,
#team2 {
  height: 200px;
}

/* Removes default button styles */
button,
form input[type='submit'] {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #faf8f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Removes number input spinner */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
